body {
  background: radial-gradient(circle at top, #080808, #000);
  color: #e5e5e5;
  font-family: Georgia, serif;
  margin: 0;
}

#game {
  max-width: 900px;
  margin: auto;
  padding: 25px;
}

h1 {
  text-align: center;
  letter-spacing: 7px;
}

#subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 30px;
}

p {
  line-height: 1.8;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #0e0e0e;
  color: white;
  border: 1px solid #444;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #3a0000;
}

.qte {
  font-size: 22px;
  text-align: center;
  letter-spacing: 5px;
}

.timer {
  color: #ff4444;
  text-align: center;
  font-size: 18px;
}
